

/*# sourceMappingURL=search.css.map */
* {
	font-family: arial;
}

#ContentBar {
	height:50px;
	right:140px;
	position:fixed;
	top:20px;
}

#ContentBar a {
	text-decoration: none;
	padding:10px;
	font-size:small;

}

#ContentBar a:hover {
	text-decoration: underline;
}


.logo {
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 20%;
	display:block;
}


#Search {
	height: auto;	
	margin: 0 auto;	
}

.search{
	margin-top: 2%;
	margin: 0 auto;
}

#search_box {
	display:block;
	
	width:30%;	
	height:30px;
	margin:0 auto;
	margin-top: 1%;
	margin-bottom: 1%;
	border-width:1px;
	border-top-color:none;
	border-style:solid;
	border-color: #d9d9d9;
}

#search_box:hover {
	border: 1px solid grey;
	border-top-color:#a0a0a0;
}

#google_search {
	display:inline-block;
	background-color: #f2f2f2;
	color: #757575;
	height:36px;
	width: 126px;
	border-style:none;	
	font-family: arial;
	font-weight: bold;
}

#google_search:hover {
	color: black;
}

#im_feeling_lucky {
	background-color: #f2f2f2;
	display:inline-block;
	color: #757575;
	height:36px;
	width: 126px;
	border-style:none;
	font-family: arial;
	font-weight: bold;
}

#im_feeling_lucky:hover {
	color: black;
}

.buttons {
	display:block;
	text-align: center;
}

#Footer {
	width: 100%;
	height:40px;
	background-color: #f2f2f2;
	bottom:0px;
	left:0;
	position:fixed;	
}

#Footer a {
	text-decoration: none;
	padding:12px;
	color: #757575;
	font-family: arial;
	font-size: small;
}

.FloatLeft {
	float:left;
	padding:12px;
}

.FloatRight {
	float:right;
	padding:12px;
}